.nav-right {
  position: absolute;
  color: white;
  margin-right: 50px;
  right: 0;

  .item {
    display: inline-block;
    margin: auto 5px;
  }

  a,
  a:hover {
    color: white;
  }

  .logout {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #999; 
  }

  .avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}