.chat-window-container {
  width: 100%;
  height: 100vh;
  border-right: 1px solid #ccc;
  position: relative;

  .topic {
    text-align: center;
    font-size: 15px;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
  }

  .chat-area {
    height: 100%;
    position: relative;
    .chat-dialog {
      height: 80%;
    }
  }
}